<div class="homepage">
    <div class="home-block">
        <div class="main-title animated fadeInDown">Vaneaux d'or</div>
        <div class="animated zoomIn intro-border"></div>
        <div ng-if="main.voteOpen()" class="intro animated fadeIn">
            <p class="lead">La cérémonie aura lieu durant la <strong>Proj' de Passation du 12 novembre 2015</strong>, en amphi Poincaré.</p>
            <p class="lead">Pour la première fois, cette année, c'est ton vote qui détermine le clip gagnant de chaque catégorie !</p>
            <p class="lead">Fermeture des votes : jeudi 12 novembre à 16h00</p>
        </div>
        <div ng-if="!main.voteOpen()" class="intro animated fadeIn">
            <p class="lead">Annonce des résultats ce soir pendant la proj' !!</p>
        </div>
        <div class="text-center">
            <div class="enter-button animated bounceIn" ui-sref="vote.home">
                Découvrir les nominés
            </div>
        </div>
    </div>
</div>
