h1 {
    color: lightgrey;
}

.light-font {
    color: lightgrey;
}

.bold {
    font-weight: 600;
}

.category-layout {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-menu {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}

.category-list {
    margin: 0px;
    padding: 0px;
    margin-top: 2em;
    margin-left: -15px;
    margin-right: -15px;
}

.category-item {
    display: block;
    height: 3em;
    padding-top: 0.75em;
    padding-left: 15px;
    padding-right: 15px;
    color: lightgrey;
    text-transform: uppercase;
    cursor: pointer;
}

.category-item.active {
    background-color: rgba(50, 50, 50, 1);
}

.category-thumbnail {
    background-size: cover;
    height: 15em;
    color: white;
    margin-bottom: 2em;
    cursor: pointer;
}
.category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
.category-title {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 100;
}
.category-vote {
    font-size: 0.8em;
    text-transform: none;
}

.category-view {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-header {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.header-title {
    color: lightgrey;
    font-size: 2.9em;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
}

.video-item {
    margin-bottom: 3em;
}

.video-item-descriptor {
    background-color: rgba(255, 255, 255, 0.6);
}

.video-item-descriptor-heading {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.4em;
    color: lightgrey;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
}

.video-item-descriptor-description {
    padding: 0.4em;
}

.video-item-descriptor-button {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.4em;
    color: lightgrey;
    text-transform: uppercase;
    font-size: 1.1em;
}

.result-row {
    background-color: rgba(0, 0, 0, 0.4);
    color: lightgrey;
    font-size: 1.4em;
    margin-bottom: 4px;
}